// Styles that will be used globally on front templates.

// Bootstrap
@import '../../bootstrap-overrides/front/variables';
@import '~bootstrap/scss/vendor/rfs';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~bootstrap/scss/mixins/lists';
@import '~bootstrap/scss/mixins/hover';
@import '~bootstrap/scss/mixins/border-radius';
