#carouselTitleCaption {

    @include media-breakpoint-up(xs) {
        height: 300px;
    }
    @include media-breakpoint-up(sm) {
        height: 350px;
    }
    @include media-breakpoint-up(md) {
        height: 400px;
    }
    @include media-breakpoint-up(lg) {
        height: 450px;
    }
    @include media-breakpoint-up(xl) {
        height: 500px;
    }
}
