# Composer
/vendor

# Node
/node_modules
/npm-debug.log
/yarn-error.log

# Public
/public/css
/public/fonts
/public/images
/public/js
/public/favicon.ico
/public/hot
/public/mix-manifest.json
/public/sitemap.xml
/public/storage

# Storage
/storage/*.key
/storage/media-library

# IDE
/.idea
/.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php

# Laravel
.env
compiled.php
down
events.scanned.php
maintenance.php

# Homestead
Homestead.json
Homestead.yaml

# Testing
.phpunit.result.cache

# Docker
docker-compose.override.yml

# MacOS
**/.DS_Store
