# node
/node_modules
/npm-debug.log
/yarn-error.log

# public
/public/css
/public/fonts
/public/images
/public/js
/public/favicon.ico
/public/hot
/public/mix-manifest.json
/public/storage
/public/sitemap.xml

# storage
/storage/*.key

# docker //  todo : to remove once .docker submodule is linked to the projet
.docker

# composer
/vendor

# ide
/.idea
/.phpstorm.meta.php
/_ide_helper.php

# laravel
.env

# homestead
Homestead.json
Homestead.yaml

#testing
.phpunit.result.cache

# storage
/storage/medialibrary
