# node
/node_modules
/npm-debug.log
/yarn-error.log

# public
/public/css
/public/fonts
/public/images
/public/js
/public/favicon.ico
/public/hot
/public/mix-manifest.json
/storage/*.key
/public/storage

# docker
.docker

# composer
/vendor

# ide
/.idea
/.phpstorm.meta.php
/_ide_helper.php

# laravel
.env

# homestead
Homestead.json
Homestead.yaml

#testing
.phpunit.result.cache

# storage
/storage/medialibrary
