// Styles and utility classes that will be used globally on the front.

// Fonts
@import '../fonts/raleway';

// Bootstrap
@import '../bootstrap-overrides/front/variables';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/custom-forms';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/dropdown';
@import '~bootstrap/scss/images';

// Common global styles
@import 'common';

// Bootstrap overrides
@import '../bootstrap-overrides/front/headings';
@import '../bootstrap-overrides/front/lists';
@import '../bootstrap-overrides/front/typography';

// Layouts
@import '../layouts/front/layout';
@import '../layouts/front/template';
@import '../layouts/front/partials/menu';
@import '../layouts/front/partials/footer';

// Vendor
@import '../vendor/klaro';
