input[required]:not(.is-valid):not(.is-invalid),
select[required]:not(.is-valid):not(.is-invalid),
textarea[required]:not(.is-valid):not(.is-invalid),
textarea[required]:not(.is-valid):not(.is-invalid) + .EasyMDEContainer .CodeMirror,
input[type='file'][required]:not(.is-valid):not(.is-invalid) + label {
    background-image: url('data:image/svg+xml,\
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 455 455"> \
<polygon fill="#{str-replace(#{$danger}, '#', '%23')}" points="347.49,227 454.5,165.212 394.508,61.288 287.5,123.077 287.5,0 167.5,0 167.5,123.077 60.492,61.288 0.499,165.212 107.51,227 0.5,288.788 60.492,392.712 167.5,330.923 167.5,455 287.5,455 287.5,330.923 394.508,392.712 454.501,288.788"/> \
</svg>') !important;
    background-position: left 2px top 2px;
    background-repeat: no-repeat;
    background-size: 5px;
}
