// Navbar
$navbar-left-sidebar-width: 14rem;
$navbar-nav-active-bg-color: $gray-900;
$navbar-nav-active-sub-color: $gray-600;
$navbar-nav-active-sub-bg-color: $gray-200;

// Template
$template-sm-padding: 1rem;
$template-md-padding: 1.5rem;
