@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600");

@mixin raleway($font-weight: 300, $style: normal) {
    font-family: 'Raleway', sans-serif;
    font-weight: $font-weight;
    font-style: $style;
}

.font-raleway {
    @include raleway();
}
