@import '~cookieconsent/src/styles/base.css';
@import '~cookieconsent/src/styles/layout.css';
@import '~cookieconsent/src/styles/animation.css';

.cc-window {
    width: 100%;
    bottom: 0;
    background-color: $gray-100;
    font-size: $font-size-base;
    font-family: $font-family-base;
    @extend .shadow;

    &.cc-banner {
        
        //.cc-btn {
        //    min-width: unset;
        //}
    }
}
