img {

    &.lozad {

        &[data-loaded] {
            animation-name: fade;
            animation-duration: 500ms;
        }
    }
}

@keyframes fade {

    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


[data-background-image] {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
